# Default ignored files
/shelf/
/.idea/workspace.xml
aDeuxPas/secrets.py
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
